<div class='header-top bg-primary-600 flex-between'>
  <div class='container container-lg'>
    <div class='flex flex-between flex-wrap gap-8'>
      <ul class='flex items-center flex-wrap lg:flex'>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            Become A Seller
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            About us
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            Free Delivery
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            Returns Policy
          </a>
        </li>
      </ul>
      <ul class='header-top__right flex items-center flex-wrap'>
        <li
          class='on-hover-item border-right-item border-right-item-sm-space has-submenu arrow-white'
        >
          <a
            href='javascript:void(0)'
            class='text-white text-sm py-8'
          >
            Help Center
          </a>
        </li>
        <li
          class='on-hover-item border-right-item border-right-item-sm-space has-submenu arrow-white'
        >
          <a
            href='javascript:void(0)'
            class='selected-text text-white text-sm py-8'
          >
            Eng
          </a>
        </li>

        <li class='border-right-item'>
          <a
            href='account.html'
            class='text-white text-sm py-8 flex items-center gap-6'
          >
            <span class='icon text-md flex'>
              <i class='ph ph-user-circle'></i>
            </span>
            <span class='shover-text-decoration-underline'>My Account </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
