{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": false,
        "printWidth": 100,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": false,
        "printWidth": 100,
        "tabWidth": 2
      }
    }
  ]
}
