---
import Header1 from "@/components/headers/header-1/header-1.astro";
import Banner1 from "@/components/home/banners/banner-1.astro";
import { getActivePageComponents } from "@/utils/theme";

// Component mapping
const componentMap = {
  "header-1": Header1,
  "banner-1": Banner1,
};

// Get active components for home page
const envTheme = import.meta.env.ACTIVE_THEME;
const currentTheme = envTheme;
const pageComponents = getActivePageComponents({ theme: currentTheme, page: "home" });
---

<div class='flex flex-col gap-2'>
  {
    pageComponents.map((component: any) => {
      const Component = componentMap[component as keyof typeof componentMap];
      return Component ? <Component /> : null;
    })
  }
</div>
