---
import Header1MiddleHeader from "./components/common/header-1-middle-header.astro";
---

<!-- START TOP HEADER -->
<div class='header-top bg-primary-600 flex-between'>
  <div class='container container-lg'>
    <div class='flex flex-between flex-wrap gap-8'>
      <ul class='flex items-center flex-wrap lg:flex'>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            Become A Seller
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            About us
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            Free Delivery
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='#shipping'
            class='text-white text-sm hover-text-decoration-underline'
          >
            Returns Policy
          </a>
        </li>
      </ul>
      <ul class='header-top__right flex items-center flex-wrap'>
        <li class='border-right-item'>
          <a
            href='account.html'
            class='text-white text-sm py-8 flex items-center gap-6'
          >
            <span class='hover-text-decoration-underline'>Help Center</span>
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='account.html'
            class='text-white text-sm py-8 flex items-center gap-6'
          >
            <span class='hover-text-decoration-underline'>Eng</span>
          </a>
        </li>
        <li class='border-right-item'>
          <a
            href='account.html'
            class='text-white text-sm py-8 flex items-center gap-6'
          >
            <span class='icon text-md flex'>
              <i class='ph ph-user-circle'></i>
            </span>
            <span class='hover-text-decoration-underline'>My Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END TOP HEADER -->

<Header1MiddleHeader />

<!-- START NAVIGATION HEADER -->
<header
  id='navigation-header'
  class='bg-white border-b z-100 border-gray-100 !-mt-0.5 transition-all duration-300 ease-in-out'
>
  <div class='container container-lg'>
    <nav class='header-inner flex justify-between gap-8'>
      <div class='flex items-center menu-category-wrapper'>
        <div class='header-menu xl:block hidden'>
          <ul class='nav-menu flex items-center'>
            <li class='on-hover-item nav-menu__item has-submenu activePage'>
              <a
                href='javascript:void(0)'
                class='nav-menu__link'
              >
                Home
              </a>
              <ul class='on-hover-dropdown common-dropdown nav-submenu scroll-sm z-50'>
                <li class='common-dropdown__item nav-submenu__item activePage'>
                  <a
                    href='index-2.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Home Grocery
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='index-two.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Home Electronics
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='index-three.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Home Fashion
                  </a>
                </li>
              </ul>
            </li>
            <li class='on-hover-item nav-menu__item has-submenu'>
              <a
                href='javascript:void(0)'
                class='nav-menu__link'
              >
                Shop
              </a>
              <ul class='on-hover-dropdown common-dropdown nav-submenu scroll-sm'>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='shop.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Shop
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='product-details.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Shop Details
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='product-details-two.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Shop Details Two
                  </a>
                </li>
              </ul>
            </li>
            <li class='on-hover-item nav-menu__item has-submenu'>
              <span
                class='badge-notification bg-warning-600 text-white text-sm py-2 px-8 rounded-4'
              >
                New
              </span>
              <a
                href='javascript:void(0)'
                class='nav-menu__link'
              >
                Pages
              </a>
              <ul class='on-hover-dropdown common-dropdown nav-submenu scroll-sm'>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='cart.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Cart
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='wishlist.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Wishlist
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='checkout.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Checkout
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='become-seller.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Become Seller
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='account.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Account
                  </a>
                </li>
              </ul>
            </li>
            <li class='on-hover-item nav-menu__item has-submenu'>
              <span
                class='badge-notification bg-tertiary-600 text-white text-sm py-2 px-8 rounded-4'
              >
                New
              </span>
              <a
                href='javascript:void(0)'
                class='nav-menu__link'
              >
                Vendors
              </a>
              <ul class='on-hover-dropdown common-dropdown nav-submenu scroll-sm'>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='vendor.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Vendors
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='vendor-details.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Vendor Details
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='vendor-two.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Vendors Two
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='vendor-two-details.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Vendors Two Details
                  </a>
                </li>
              </ul>
            </li>
            <li class='on-hover-item nav-menu__item has-submenu'>
              <a
                href='javascript:void(0)'
                class='nav-menu__link'
              >
                Blog
              </a>
              <ul class='on-hover-dropdown common-dropdown nav-submenu scroll-sm'>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='blog.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Blog
                  </a>
                </li>
                <li class='common-dropdown__item nav-submenu__item'>
                  <a
                    href='blog-details.html'
                    class='common-dropdown__link nav-submenu__link hover-bg-neutral-100'
                  >
                    Blog Details
                  </a>
                </li>
              </ul>
            </li>
            <li class='nav-menu__item'>
              <a
                href='contact.html'
                class='nav-menu__link'
              >
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class='header-right flex items-center'>
        <a
          href='tel:01234567890'
          class='bg-main-600 text-white p-12 h-full hover-bg-main-800 flex items-center gap-8 text-lg xl:flex hidden'
        >
          <div class='flex text-32'><i class='ph ph-phone-call'></i></div>
          01- 234 567 890
        </a>

        <div class='me-16 xl:hidden block'>
          <div class='flex items-center flex-wrap gap-12'>
            <button
              type='button'
              class='search-icon flex items-center xl:hidden gap-4 item-hover'
            >
              <span class='text-2xl text-gray-700 flex relative item-hover__text'>
                <i class='ph ph-magnifying-glass'></i>
              </span>
            </button>
            <a
              href='cart.html'
              class='flex items-center gap-4 item-hover'
            >
              <span class='text-2xl text-gray-700 flex relative me-6 mt-6 item-hover__text'>
                <i class='ph ph-heart'></i>
                <span
                  class='w-16 h-16 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-xs absolute top-n6 end-n4'
                >
                  2
                </span>
              </span>
              <span class='text-md text-gray-500 item-hover__text hidden xl:flex'>Wishlist</span>
            </a>
            <a
              href='cart.html'
              class='flex items-center gap-4 item-hover'
            >
              <span class='text-2xl text-gray-700 flex relative me-6 mt-6 item-hover__text'>
                <i class='ph ph-shopping-cart-simple'></i>
                <span
                  class='w-16 h-16 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-xs absolute top-n6 end-n4'
                >
                  2
                </span>
              </span>

              <span class='text-md text-gray-500 item-hover__text hidden xl:flex'>Cart</span>
            </a>
          </div>
        </div>

        <button
          type='button'
          class='toggle-mobileMenu xl:hidden ms-3n text-gray-800 text-4xl flex'
        >
          <i class='ph ph-list'></i>
        </button>
      </div>
    </nav>
  </div>
</header>
<!-- END NAVIGATION HEADER -->

<script is:inline>
  // Make header sticky when scrolled past with slide animation
  const header = document.getElementById("navigation-header");
  if (header) {
    // Store the initial offset position before any scroll
    const headerOffset = header.offsetTop;
    let isFixed = false;

    window.addEventListener("scroll", () => {
      if (window.pageYOffset > headerOffset && !isFixed) {
        header.classList.add("!fixed", "top-0", "left-0", "right-0", "z-50", "slide-down");
        header.classList.remove("slide-up");
        isFixed = true;
      } else if (window.pageYOffset <= headerOffset && isFixed) {
        header.classList.add("slide-up");
        header.classList.remove("slide-down");

        // Remove fixed classes after animation completes
        setTimeout(() => {
          header.classList.remove("!fixed", "top-0", "left-0", "right-0", "z-50", "slide-up");
          isFixed = false;
        }, 300);
      }
    });
  }
</script>
