---
import Header1 from "./header-1.astro";
import CountDown1 from "./sections/count-down-1.astro";
import Features1 from "./sections/features-1.astro";
import Features2 from "./sections/features-2.astro";
import Features3 from "./sections/features-3.astro";
import Features4 from "./sections/features-4.astro";
import Features5 from "./sections/features-5.astro";
import Products1 from "./sections/products-1.astro";
import Products2 from "./sections/products-2.astro";
import Products3 from "./sections/products-3.astro";
import Products4 from "./sections/products-4.astro";
import Brands1 from "./sections/brands-1.astro";
import ProductsTabs1 from "./sections/products-tabs-1.astro";
import NormalCards1 from "./sections/normal-cards-1.astro";
import Banner1 from "./sections/banner-1.astro";
import Reels1 from "./sections/reels-1.astro";
import Footer1 from "./footer-1.astro";
import StickyButton from "./components/common/sticky-button.astro";
import HeroSlider1 from "./sections/hero-slider-1.astro";
---

<Header1 />

<HeroSlider1 />

<div class='flex flex-col !gap-10 !mt-10'>
  <Features1 />
  <Features2 />
  <Features3 />
  <Products1 />
  <Features4 />
  <ProductsTabs1 />
  <Products2 />
  <Features5 />
  <Products3 />
  <CountDown1 />
  <Products4 />
  <Brands1 />
  <NormalCards1 />
  <Reels1 />
  <Banner1 />
</div>

<StickyButton />
<Footer1 />
