---
import Header1 from "./header-1.astro";
import Features1 from "./sections/features-1.astro";
import Features2 from "./sections/features-2.astro";
import Features3 from "./sections/features-3.astro";
import Features4 from "./sections/features-4.astro";
import Products1 from "./sections/products-1.astro";
import ProductsTabs1 from "./sections/products-tabs-1.astro";
---

<Header1 />

<div class='flex flex-col !gap-10 !mt-10'>
  <Features1 />
  <Features2 />
  <Features3 />
  <Products1 />
  <Features4 />
  <ProductsTabs1 />
</div>
