---
import Test from "@/components/home/test.astro";
import Layout from "@/layouts/Layout.astro";
import { CounterComponent } from "@/react/counter";
---

<Layout>
  <h1>Hello</h1>
  <Test />
  <CounterComponent client:load />
</Layout>
