#navigation-header {
  transform: translateY(0);
}

#navigation-header.slide-down {
  animation: slideDown 0.3s ease-in-out forwards;
}

#navigation-header.slide-up {
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.offer-dialog {
  --body-spacing: 0;
}

.offer-dialog::part(overlay) {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.shine-effect-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.75rem;
}

.shine-effect-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transition: left 0.5s ease;
  z-index: 10;
}

.shine-effect-wrapper:hover::before {
  left: 100%;
}

.btn-outline {
  border: 2px solid var(--color-primary-600);
  background-color: transparent;
  color: var(--color-primary-600) !important;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: var(--color-primary-600);
  color: white !important;
}

.btn-white {
  border: 2px solid white;
  background-color: white;
  color: black !important;
  transition: all 0.3s ease;
}

.mobile-search-container .search-form__wrapper {
  display: block !important;
  width: 100% !important;
}
.mobile-search-container input {
  width: 100% !important;
}

.mobile-search-container .search-category {
  height: auto !important;
}

.hero-slide-1 {
  height: 600px !important;
}

.hero-slide-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}

/* Mobile media query for hero slide */
@media (max-width: 768px) {
  .hero-slide-1 {
    height: 400px !important;
  }
}

.reels-video-dialog {
  --sl-z-index-dialog: 40;
  --width: 90vw;
}

.reels-video-dialog::part(panel) {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.reels-video-dialog::part(overlay) {
  background-color: rgba(0, 0, 0, 0.9);
}

.reels-video-dialog::part(close-button) {
  color: white;
  font-size: 2.25rem;
}

.reels-video-dialog::part(close-button__base) {
  border-radius: 100px;
  transition: all 0.3s ease;
}

.reels-video-dialog::part(close-button__base):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.reels-video-dialog::part(body) {
  overflow: hidden;
  height: 90vh;
}
