<div class='\'>
  <div class='container container-lg'>
    <div
      class='newsletter-box relative rounded-16 flex items-center gap-16 flex-wrap z-1'
      data-aos='fade-up'
    >
      <img
        src='/theme-1/images/offer-shape.png'
        alt='Image'
        class='absolute inset-block-start-0 inset-inline-start-0 z-[-1] w-full h-full opacity-6'
      />

      <div class='row items-center'>
        <div class='2xl:w-6/12 flex-grow-0 flex-shrink-0 basis-auto'>
          <div class=''>
            <h1
              class='text-white mb-12'
              data-aos='fade-right'
            >
              Don't Miss Out on Grocery Deals
            </h1>
            <p
              class='text-white h5 mb-0'
              data-aos='fade-right'
              data-aos-delay='100'
            >
              SING UP FOR THE UPDATE NEWSLETTER
            </p>
          </div>
        </div>

        <div class='2xl:w-6/12 flex-grow-0 flex-shrink-0 basis-auto text-center xl:block hidden'>
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/newsletter-img.png'
            alt='Image'
            data-aos='fade-left'
            data-aos-delay='200'
          />
        </div>
      </div>
    </div>
  </div>
</div>
