<section class='promotional-banner'>
  <div class='container container-lg'>
    <div class='row g-4'>
      <div
        class='2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 custom-sm:w-6/12 wow bounceIn'
      >
        <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
          />
          <div class='promotional-banner-item__content'>
            <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Meat</h6>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class='2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 custom-sm:w-6/12 wow bounceIn'
      >
        <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
          />
          <div class='promotional-banner-item__content'>
            <h6 class='promotional-banner-item__title text-32'>Daily Fresh Vegetables</h6>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class='2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 custom-sm:w-6/12 wow bounceIn'
      >
        <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
          />
          <div class='promotional-banner-item__content'>
            <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Milk</h6>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>
      <div
        class='2xl:w-3/12 flex-grow-0 flex-shrink-0 basis-auto md:w-6/12 custom-sm:w-6/12 wow bounceIn'
      >
        <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
          />
          <div class='promotional-banner-item__content'>
            <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Fruits</h6>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
