<section class='flash-sales overflow-hidden'>
  <div class='container container-lg'>
    <div class='section-heading'>
      <div class='flex-between flex-wrap gap-8'>
        <h5 class='mb-0 wow bounceInLeft'>Flash Sales Today</h5>
        <div class='flex items-center gap-16 wow bounceInRight'>
          <a
            href='shop.html'
            class='text-sm font-[500] text-gray-700 hover-text-main-600 hover-text-decoration-underline'
          >
            View All Deals
          </a>
          <div class='flex items-center gap-8'>
            <button
              type='button'
              id='flash-prev'
              class='slick-prev slick-arrow'
            >
              <i class='ph ph-caret-left'></i>
            </button>

            <button
              type='button'
              id='flash-next'
              class='slick-next slick-arrow'
            >
              <i class='ph ph-caret-right'></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class='flash-sales__slider'>
      <div class=''>
        <div
          class='flash-sales-item h-full rounded-16 overflow-hidden z-[1] relative flex items-center flex-0 justify-between gap-8'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-bg2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1] flash-sales-item__bg'
          />
          <div class='flash-sales-item__thumb md:block hidden'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-img2.png'
              alt='Image'
            />
          </div>
          <div class='flash-sales-item__content ms-sm-auto'>
            <h6 class='text-32 mb-20'>Fresh Vegetables</h6>
            <div
              class='countdown'
              id='countdown1'
            >
              <ul class='countdown-list flex items-center flex-wrap'>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='days'></span>Days
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='hours'></span>Hours
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='minutes'></span>Min
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='seconds'></span>Sec
                </li>
              </ul>
            </div>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class=''>
        <div
          class='flash-sales-item h-full rounded-16 overflow-hidden z-[1] relative flex items-center flex-0 justify-between gap-8'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-bg2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1] flash-sales-item__bg'
          /><div class='flash-sales-item__thumb md:block hidden'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-img2.png'
              alt='Image'
            />
          </div><div class='flash-sales-item__content ms-sm-auto'>
            <h6 class='text-32 mb-20'>Daily Snacks</h6>

            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              tabindex='-1'
            >
              Shop Now <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class=''>
        <div
          class='flash-sales-item h-full rounded-16 overflow-hidden z-[1] relative flex items-center flex-0 justify-between gap-8'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-bg2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1] flash-sales-item__bg'
          />
          <div class='flash-sales-item__thumb md:block hidden'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-img2.png'
              alt='Image'
            />
          </div>
          <div class='flash-sales-item__content ms-sm-auto'>
            <h6 class='text-32 mb-20'>Fresh Vegetables</h6>
            <div
              class='countdown'
              id='countdown1'
            >
              <ul class='countdown-list flex items-center flex-wrap'>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='days'></span>Days
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='hours'></span>Hours
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='minutes'></span>Min
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='seconds'></span>Sec
                </li>
              </ul>
            </div>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class=''>
        <div
          class='flash-sales-item h-full rounded-16 overflow-hidden z-[1] relative flex items-center flex-0 justify-between gap-8'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-bg2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1] flash-sales-item__bg'
          /><div class='flash-sales-item__thumb md:block hidden'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-img2.png'
              alt='Image'
            />
          </div><div class='flash-sales-item__content ms-sm-auto'>
            <h6 class='text-32 mb-20'>Daily Snacks</h6>

            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              tabindex='-1'
            >
              Shop Now <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class=''>
        <div
          class='flash-sales-item h-full rounded-16 overflow-hidden z-[1] relative flex items-center flex-0 justify-between gap-8'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-bg2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1] flash-sales-item__bg'
          />
          <div class='flash-sales-item__thumb md:block hidden'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-img2.png'
              alt='Image'
            />
          </div>
          <div class='flash-sales-item__content ms-sm-auto'>
            <h6 class='text-32 mb-20'>Fresh Vegetables</h6>
            <div
              class='countdown'
              id='countdown1'
            >
              <ul class='countdown-list flex items-center flex-wrap'>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='days'></span>Days
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='hours'></span>Hours
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='minutes'></span>Min
                </li>
                <li
                  class='countdown-list__item text-heading flex items-center gap-4 text-sm font-[500]'
                >
                  <span class='seconds'></span>Sec
                </li>
              </ul>
            </div>
            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
            >
              Shop Now
              <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>

      <div class=''>
        <div
          class='flash-sales-item h-full rounded-16 overflow-hidden z-[1] relative flex items-center flex-0 justify-between gap-8'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-bg2.png'
            alt='Image'
            class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1] flash-sales-item__bg'
          /><div class='flash-sales-item__thumb md:block hidden'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/flash-sale-img2.png'
              alt='Image'
            />
          </div><div class='flash-sales-item__content ms-sm-auto'>
            <h6 class='text-32 mb-20'>Daily Snacks</h6>

            <a
              href='shop.html'
              class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              tabindex='-1'
            >
              Shop Now <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script is:inline>
  $(document).ready(function () {
    $(".flash-sales__slider").slick({
      slidesToShow: 2,
      slidesToScroll: 1,
      autoplay: false,
      autoplaySpeed: 2000,
      speed: 900,
      dots: false,
      pauseOnHover: true,
      arrows: true,
      draggable: true,
      infinite: true,
      rtl: $("html").attr("dir") === "rtl",
      nextArrow: "#flash-next",
      prevArrow: "#flash-prev",
      responsive: [
        {
          breakpoint: 991,
          settings: { slidesToShow: 1, arrows: false },
        },
      ],
    });
  });
</script>
