<div class='bg-primary-100 !py-8'>
  <div class='container container-lg'>
    <h5
      class='!mb-3'
      data-aos='fade-right'
    >
      Brands under light
    </h5>

    <div
      class='grid grid-cols-1 md:grid-cols-2 px-10 !gap-5'
      data-aos='fade-up'
      data-aos-delay='100'
    >
      <a
        href='javascript:;'
        class='shine-effect-wrapper'
      >
        <picture>
          <source
            media='(min-width: 768px)'
            srcset='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/507b90c7-18df-45ff-8426-ceb06236d608.jpg'
          />
          <img
            loading='eager'
            fetchpriority='high'
            decoding='sync'
            width='1800'
            height='450'
            class='rounded-xl'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/507b90c7-18df-45ff-8426-ceb06236d608.jpg'
            alt='banner'
          />
        </picture>
      </a>
      <a
        href='javascript:;'
        class='shine-effect-wrapper'
      >
        <picture>
          <source
            media='(min-width: 768px)'
            srcset='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/ff4c805f-b8db-4bb9-b911-fa2d7cc1d6fd.gif'
          />
          <img
            loading='lazy'
            decoding='async'
            width='1800'
            height='450'
            class='rounded-xl'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/ff4c805f-b8db-4bb9-b911-fa2d7cc1d6fd.gif'
            alt='banner'
          />
        </picture>
      </a>
    </div>
  </div>
</div>
