<div class='container container-lg'>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center px-10 !gap-5'>
    <a href='javascript:;'>
      <picture>
        <source
          media='(min-width: 768px)'
          srcset='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/7ae09e09-88f0-4aa4-a6b7-bf9bb4690e63.jpg'
        />
        <img
          loading='eager'
          fetchpriority='high'
          decoding='sync'
          width='1800'
          height='450'
          class='shine-effect-img rounded-xl'
          src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/7ae09e09-88f0-4aa4-a6b7-bf9bb4690e63.jpg'
          alt='banner'
        />
      </picture>
    </a>
    <a href='javascript:;'>
      <picture>
        <source
          media='(min-width: 768px)'
          srcset='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/52d47d0e-e349-40da-8c61-f6bfb265af3d.jpg'
        />
        <img
          loading='lazy'
          decoding='async'
          width='1800'
          height='450'
          class='shine-effect-img rounded-xl'
          src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/52d47d0e-e349-40da-8c61-f6bfb265af3d.jpg'
          alt='banner'
        />
      </picture>
    </a>
    <a href='javascript:;'>
      <picture>
        <source
          media='(min-width: 768px)'
          srcset='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/6f336c56-510f-419d-9b4d-8012512ee67d.jpg'
        />
        <img
          loading='lazy'
          decoding='async'
          width='1800'
          height='450'
          class='shine-effect-img rounded-xl'
          src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/6f336c56-510f-419d-9b4d-8012512ee67d.jpg'
          alt='banner'
        />
      </picture>
    </a>
  </div>
</div>
