<section class=''>
  <div class='container container-lg'>
    <div
      class='relative'
      data-aos='fade-up'
    >
      <!-- Slider -->
      <div class='promotional-banner-slider'>
        <div class='promotional-banner-slide'>
          <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
              alt='Image'
              class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
            />
            <div class='promotional-banner-item__content'>
              <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Meat</h6>
              <a
                href='shop.html'
                class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              >
                Shop Now
                <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
              </a>
            </div>
          </div>
        </div>

        <div class='promotional-banner-slide'>
          <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
              alt='Image'
              class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
            />
            <div class='promotional-banner-item__content'>
              <h6 class='promotional-banner-item__title text-32'>Daily Fresh Vegetables</h6>
              <a
                href='shop.html'
                class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              >
                Shop Now
                <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
              </a>
            </div>
          </div>
        </div>

        <div class='promotional-banner-slide'>
          <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
              alt='Image'
              class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
            />
            <div class='promotional-banner-item__content'>
              <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Milk</h6>
              <a
                href='shop.html'
                class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              >
                Shop Now
                <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
              </a>
            </div>
          </div>
        </div>

        <div class='promotional-banner-slide'>
          <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
              alt='Image'
              class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
            />
            <div class='promotional-banner-item__content'>
              <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Fruits</h6>
              <a
                href='shop.html'
                class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              >
                Shop Now
                <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
              </a>
            </div>
          </div>
        </div>

        <div class='promotional-banner-slide'>
          <div class='promotional-banner-item relative rounded-24 overflow-hidden z-[1]'>
            <img
              src='https://wowtheme7.com/tailwind/marketpro/images/promotional-banner-img2.png'
              alt='Image'
              class='absolute inset-block-start-0 inset-inline-start-0 w-full h-full object-fit-cover z-[-1]'
            />
            <div class='promotional-banner-item__content'>
              <h6 class='promotional-banner-item__title text-32'>Everyday Fresh Fruits</h6>
              <a
                href='shop.html'
                class='btn btn-main inline-flex items-center rounded-[50rem] gap-8 mt-24'
              >
                Shop Now
                <span class='icon text-xl flex'><i class='ph ph-arrow-right'></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(".promotional-banner-slider").slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      speed: 800,
      dots: false,
      pauseOnHover: true,
      arrows: true,
      draggable: true,
      rtl: $("html").attr("dir") === "rtl",
      infinite: true,
      nextArrow: "#promotional-banner-next",
      prevArrow: "#promotional-banner-prev",
      responsive: [
        {
          breakpoint: 1599,
          settings: { slidesToShow: 4 },
        },
        {
          breakpoint: 1199,
          settings: { slidesToShow: 3 },
        },
        {
          breakpoint: 767,
          settings: { slidesToShow: 1 },
        },
      ],
    });
  </script>
</section>
