---
import ProductCard1 from "../components/common/product-card-1.astro";
---

<section class='offer'>
  <div class='container container-lg'>
    <div class='row g-4'>
      <ProductCard1 />
      <ProductCard1 />
      <ProductCard1 />
      <ProductCard1 />
      <ProductCard1 />
      <ProductCard1 />
    </div>
  </div>
</section>
