---
import Header1SearchInput from "./header-1-search-input.astro";
---

<!-- START MIDDLE HEADER -->
<header class='header-middle bg-primary-50 border-b border-gray-100'>
  <div class='container container-lg'>
    <nav class='header-inner flex-between'>
      <div class='logo'>
        <a
          href='index-2.html'
          class='link'
        >
          <img
            src='https://wowtheme7.com/tailwind/marketpro/images/logo.png'
            alt='Logo'
          />
        </a>
      </div>

      <div class='flex items-center flex-wrap form-location-wrapper'>
        <Header1SearchInput />

        <div
          class='location-box bg-white flex items-center gap-8 py-6 px-16 rounded-full max-h-12 !border border-gray-100'
        >
          <span class='text-gray-900 text-xl sm:flex hidden'><i class='ph ph-map-pin'></i></span>
          <div class='line-height-1'>
            <span class='text-gray-600 text-xs hidden md:flex'>Your Location</span>
            <div class='line-height-1'>
              <select
                class='js-example-basic-single border-0 outline-0'
                name='state'
              >
                <option value='1'>Alabama</option>
                <option value='1'>Alaska</option>
                <option value='1'>Arizona</option>
                <option value='1'>Delaware</option>
                <option value='1'>Florida</option>
                <option value='1'>Georgia</option>
                <option value='1'>Hawaii</option>
                <option value='1'>Indiana</option>
                <option value='1'>Marzland</option>
                <option value='1'>Nevada</option>
                <option value='1'>New Jersey</option>
                <option value='1'>New Mexico</option>
                <option value='1'>New York</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class='header-right items-center xl:block hidden'>
        <div class='flex items-center flex-wrap gap-12'>
          <button
            type='button'
            class='search-icon items-center xl:hidden flex gap-4 item-hover'
          >
            <span class='text-2xl text-gray-700 flex relative item-hover__text'>
              <i class='ph ph-magnifying-glass'></i>
            </span>
          </button>
          <a
            href='cart.html'
            class='flex items-center gap-4 item-hover'
          >
            <span class='text-2xl text-gray-700 flex relative me-6 mt-6 item-hover__text'>
              <i class='ph ph-heart'></i>
              <span
                class='w-16 h-16 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-xs absolute top-n6 end-n4'
              >
                2
              </span>
            </span>

            <span class='text-md text-gray-500 item-hover__text hidden xl:flex'>Wishlist</span>
          </a>
          <a
            href='cart.html'
            class='flex items-center gap-4 item-hover'
          >
            <span class='text-2xl text-gray-700 flex relative me-6 mt-6 item-hover__text'>
              <i class='ph ph-shopping-cart-simple'></i>
              <span
                class='w-16 h-16 flex items-center justify-center rounded-[50%] bg-main-600 text-white text-xs absolute top-n6 end-n4'
              >
                2
              </span>
            </span>
            <span class='text-md text-gray-500 item-hover__text hidden xl:flex'>Cart</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- START MIDDLE HEADER -->
