<section
  class='relative overflow-hidden py-2'
  style='background: #770947'
>
  <div class='relative'>
    <!-- Left fade -->
    <div
      class='absolute left-0 top-0 bottom-0 w-20 bg-gradient-to-r from-[#770947] to-transparent z-10 pointer-events-none'
    >
    </div>

    <!-- Right fade -->
    <div
      class='absolute right-0 top-0 bottom-0 w-20 bg-gradient-to-l from-[#770947] to-transparent z-10 pointer-events-none'
    >
    </div>

    <!-- Moving content wrapper -->
    <div class='flex text-white'>
      <div class='flex whitespace-nowrap animate-marquee'>
        <a
          href='javascript:;'
          class='text-white inline-flex items-center gap-2 !px-8'
        >
          <img
            loading='lazy'
            decoding='async'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/269e4693-e4d9-451a-875b-f4812424ce2e.svg'
            alt='image'
            width='50'
            height='50'
          />
          ุฑูุถุงู ูุจุงุฑู ๐๐ ุชุชููู ููู ุนุงุฆูุฉ ุดููุงู ุดูุฑุงู ูููุฆุงู ุจุงูุฌูุงู ูุงูุฎูุฑ
        </a>
        <a
          href='javascript:;'
          class='inline-flex items-center gap-2 !px-8 text-white'
        >
          ุดุญู ูุฌุงูู ููุทูุจุงุช ุฃูุซุฑ ูู 300 ุฑูุงู โจ ุงุบุชูู ุงููุฑุตุฉ ุงูุขู ๐ฅ
        </a>
        <a
          href='javascript:;'
          class='inline-flex items-center gap-2 !px-8 text-white'
        >
          <img
            loading='lazy'
            decoding='async'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/4b4b3e90-7a09-4c65-8fae-f8a96c6fd732.png'
            alt='image'
            width='40'
            height='40'
            text-white
          />
          ุฎุตู 10% ุนูุฏ ุงูุฏูุน ุจูุงุณุทุฉ ูุฏู
        </a>
        <a
          href='javascript:;'
          class='text-white inline-flex items-center gap-2 !px-8'
        >
          <img
            loading='lazy'
            decoding='async'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/269e4693-e4d9-451a-875b-f4812424ce2e.svg'
            alt='image'
            width='50'
            height='50'
          />
          ุฑูุถุงู ูุจุงุฑู ๐๐ ุชุชููู ููู ุนุงุฆูุฉ ุดููุงู ุดูุฑุงู ูููุฆุงู ุจุงูุฌูุงู ูุงูุฎูุฑ
        </a>
        <a
          href='javascript:;'
          class='inline-flex items-center gap-2 !px-8 text-white'
        >
          ุดุญู ูุฌุงูู ููุทูุจุงุช ุฃูุซุฑ ูู 300 ุฑูุงู โจ ุงุบุชูู ุงููุฑุตุฉ ุงูุขู ๐ฅ
        </a>
      </div>

      <!-- Duplicate content -->

      <div class='flex whitespace-nowrap animate-marquee'>
        <a
          href='javascript:;'
          class='text-white inline-flex items-center gap-2 !px-8'
        >
          <img
            loading='lazy'
            decoding='async'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/269e4693-e4d9-451a-875b-f4812424ce2e.svg'
            alt='image'
            width='50'
            height='50'
          />
          ุฑูุถุงู ูุจุงุฑู ๐๐ ุชุชููู ููู ุนุงุฆูุฉ ุดููุงู ุดูุฑุงู ูููุฆุงู ุจุงูุฌูุงู ูุงูุฎูุฑ
        </a>
        <a
          href='javascript:;'
          class='inline-flex items-center gap-2 !px-8 text-white'
        >
          ุดุญู ูุฌุงูู ููุทูุจุงุช ุฃูุซุฑ ูู 300 ุฑูุงู โจ ุงุบุชูู ุงููุฑุตุฉ ุงูุขู ๐ฅ
        </a>
        <a
          href='javascript:;'
          class='inline-flex items-center gap-2 !px-8 text-white'
        >
          <img
            loading='lazy'
            decoding='async'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/4b4b3e90-7a09-4c65-8fae-f8a96c6fd732.png'
            alt='image'
            width='40'
            height='40'
            text-white
          />
          ุฎุตู 10% ุนูุฏ ุงูุฏูุน ุจูุงุณุทุฉ ูุฏู
        </a>
        <a
          href='javascript:;'
          class='text-white inline-flex items-center gap-2 !px-8'
        >
          <img
            loading='lazy'
            decoding='async'
            src='https://media.zid.store/b962db3a-9aad-41a2-aa9a-fe622a1dde26/269e4693-e4d9-451a-875b-f4812424ce2e.svg'
            alt='image'
            width='50'
            height='50'
          />
          ุฑูุถุงู ูุจุงุฑู ๐๐ ุชุชููู ููู ุนุงุฆูุฉ ุดููุงู ุดูุฑุงู ูููุฆุงู ุจุงูุฌูุงู ูุงูุฎูุฑ
        </a>
        <a
          href='javascript:;'
          class='inline-flex items-center gap-2 !px-8 text-white'
        >
          ุดุญู ูุฌุงูู ููุทูุจุงุช ุฃูุซุฑ ูู 300 ุฑูุงู โจ ุงุบุชูู ุงููุฑุตุฉ ุงูุขู ๐ฅ
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
</style>
