<div class='lg:w-6/12 flex-grow-0 flex-shrink-0 basis-auto'>
  <div
    class='product-card style-two h-full p-8 border border-gray-100 hover-border-primary-600 rounded-16 relative transition-2 flex items-center gap-16'
  >
    <div class=''>
      <span class='product-card__badge bg-danger-600 px-8 py-4 text-sm text-white'>Sale 50%</span>
      <a
        href='product-details.html'
        class='product-card__thumb flex items-center justify-center'
      >
        <img
          src='https://wowtheme7.com/tailwind/marketpro/images/best-sell2.png'
          alt='Image'
        />
      </a>
    </div>

    <div class='product-card__content'>
      <div class='product-card__price mb-16'>
        <span class='text-gray-400 text-md font-[600] text-decoration-line-through'>$28.99</span>
        <span class='text-heading text-md font-[600]'>
          $14.99
          <span class='text-gray-500 font-normal'>/Qty</span>
        </span>
      </div>

      <div class='flex items-center gap-6'>
        <span class='text-xs font-[700] text-gray-600'>4.8</span>
        <span class='text-15 font-[700] text-warning-600 flex'>
          <i class='ph-fill ph-star'></i>
        </span>
        <span class='text-xs font-[700] text-gray-600'>(17k)</span>
      </div>

      <h6 class='title text-lg font-[600] mt-12 mb-8'>
        <a
          href='product-details.html'
          class='link text-line-2'
        >
          Taylor Farms Broccoli Florets Vegetables
        </a>
      </h6>

      <div class='flex items-center gap-4'>
        <span class='text-main-600 text-md flex'>
          <i class='ph-fill ph-storefront'></i>
        </span>
        <span class='text-gray-500 text-xs'>By Lucky Supermarket</span>
      </div>

      <div class='mt-12'>
        <div
          class='progress w-full bg-color-three rounded-[50rem] h-4'
          role='progressbar'
        >
          <div
            class='progress-bar !h-full bg-primary-600 rounded-[50rem]'
            style='width: 35%'
          >
          </div>
        </div>
        <span class='text-gray-900 text-xs font-[500] mt-8'>Sold: 18/35</span>
      </div>
      <a
        href='cart.html'
        class='product-card__cart btn bg-primary-50 text-main-600 hover-bg-primary-600 hover-text-white py-11 px-24 rounded-[50rem] flex items-center gap-8 mt-24 w-full justify-center'
      >
        Add To Cart <i class='ph ph-shopping-cart'></i>
      </a>
    </div>
  </div>
</div>
