---
import { themeExists, getThemeResources } from "@/utils/theme";

// Get the current theme from .env or URL params or default to first theme
const envTheme = import.meta.env.ACTIVE_THEME;
const currentTheme = envTheme;

// Check if the theme exists and get its resources
const isValidTheme = themeExists(currentTheme);
const themeResources = isValidTheme ? getThemeResources(currentTheme) : null;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />

    <!-- START DYNAMIC THEME SCRIPTS  -->
    {
      themeResources && (
        <>
          {themeResources.css.map((cssFile: string) => (
            <link
              rel='stylesheet'
              href={cssFile}
            />
          ))}

          {themeResources.js.map((jsFile: any) => (
            <script
              is:inline
              src={jsFile.src}
              type={jsFile.type || "text/javascript"}
            />
          ))}
        </>
      )
    }
    <!-- END DYNAMIC THEME SCRIPTS  -->

    <!-- START ASTRO SCRIPTS -->
    <script
      is:inline
      type='module'
      src='astro/custom-tailwind/tailwind-config.js'
    >
    </script>

    <script is:inline type='module' src='astro/custom-tailwind/tailwindcss.min.js'></script>
    <!-- End ASTRO SCRIPTS -->

    <title>Theme Builder</title>
  </head>

  <body>
    <slot />
  </body>
</html>
