<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />

    <!-- START ASTRO SCRIPTS -->
    <script
      is:inline
      type='module'
      src='astro/custom-tailwind/tailwind-config.js'
    ></script>
    <!-- End ASTRO SCRIPTS -->

    <!-- START THEMES SCRIPTS  -->
    <!-- <link
      rel='stylesheet'
      type='text/css'
      href='https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css'
    />

    <link
      rel='stylesheet'
      href='/css/theme-1.css'
    /> -->
    <!-- END THEMES SCRIPTS  -->

    <title>Theme Builder</title>
  </head>

  <body>
    <slot />
  </body>
</html>
